<!DOCTYPE html>
<html lang="{{ lang|default:'zh-cn' }}">
    {% include 'head.html' %}
    <body>
        <div id="blog">
            {% include 'header.html' %}
            {% include 'sidebar.html' %}
            {% include 'post/header-cover.html' %}
            <div id="main" data-behavior="{{ settings.sidebar_behavior }}"
                 class="{% if page.coverImage %}hasCover{% endif %}
                        {% if page.coverMeta == 'out' %}hasCoverMetaOut{% else %}hasCoverMetaIn{% endif %}
                        {% if page.coverCaption %}hasCoverCaption{% endif %}">
                {% block body %}{% endblock %}
                {% include 'footer.html' %}
            </div>
            <% if (is_post()) { %>
                <div id="bottom-bar" class="post-bottom-bar" data-behavior="{{ settings.sidebar_behavior }}">
                    <%- partial('_partial/post/actions', {post: page}) %>
                </div>
                <%- partial('_partial/post/share-options', {post: page, sidebarBehavior: sidebarBehavior}) %>
            <% } %>
        </div>
        {% include 'about.html' %}
        {% include 'search.html' %}
        {% include 'cover.html' %}
        {% include 'script.html' %}
    </body>
</html>