<header id="header" data-behavior="{{ theme.sidebar_behavior }}">
    <i id="btn-open-sidebar" class="fa fa-lg fa-bars"></i>
    <div class="header-title">
        <a class="header-title-link" href="/">{{ config.title }}</a>
    </div>

    <a  class="{% if theme.header.right_link.icon %}header-right-icon{% else %}header-right-picture{% endif %} {% if theme.header.right_link.class %}{{ theme.header.right_link.class }}{% endif %}"
                href="{% if theme.header.right_link.url|slice:':1' == '/' %}{{ theme.header.right_link.url|slice:'1:' }}{% else  %}{{ theme.header.right_link.url }}{% endif %}">

        <i class="fa fa-lg fa-{{ theme.header.right_link.icon }}"></i>
    </a>
</header>