{% load i18n %}
<nav id="sidebar" data-behavior="{{ theme.sidebar_behavior }}">
    <div class="sidebar-container">
        {% if theme.author.picture %}
        <div class="sidebar-profile">
            <a href="#about">
                <img class="sidebar-profile-picture" src="{{ theme.author.picture }}" alt="{% trans 'global.author_picture' %}"/>
            </a>
            <h4 class="sidebar-profile-name">{{ config.author }}</h4>
            {% if 'author.bio' %}
                <h5 class="sidebar-profile-bio"><%- markdown(__('author.bio')) %></h5>
            {% endif %}
        </div>
        {% endif %}
        {% for button_group_name, buttons in theme.sidebar.items %}
        <ul class="sidebar-buttons">
            {% for button_name, button in buttons.items %}
            <li class="sidebar-button">
                    <a  class="sidebar-button-link {% if button.class %}{{ button.class }}{% endif %}" href="{% if button.url|slice:':1' == '/' %}{{ request.scheme }}://{{ request.get_host }}{{ button.url }}{% else %}{{ button.url }}{% endif %}">

                    <i class="sidebar-button-icon fa fa-lg fa-{{ button.icon }}"></i>
                    <span class="sidebar-button-desc">{% trans button.title %}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</nav>