<!DOCTYPE html>
<html lang="{{ lang|default:'zh-cn' }}">
    {% include 'themes/tranquilpeak/layout/_partial/head.html' %}
    <body>
        <div id="blog">
            {% include 'themes/tranquilpeak/layout/_partial/header.html' %}
            {% include 'themes/tranquilpeak/layout/_partial/sidebar.html' %}
            {% include 'themes/tranquilpeak/layout/_partial/post/header-cover.html' %}
            <div id="main" data-behavior="{{ theme.sidebar_behavior }}"
                 class="{% if page.coverImage %}hasCover{% endif %}
                        {% if page.coverMeta == 'out' %}hasCoverMetaOut{% else %}hasCoverMetaIn{% endif %}
                        {% if page.coverCaption %}hasCoverCaption{% endif %}">
                {% block body %}{% endblock %}
                {% include 'themes/tranquilpeak/layout/_partial/footer.html' %}
            </div>
            {% block is_post %}{% endblock %}
        </div>
        {% include 'themes/tranquilpeak/layout/_partial/about.html' %}
        {% include 'themes/tranquilpeak/layout/_partial/search.html' %}
        {% include 'themes/tranquilpeak/layout/_partial/cover.html' %}
        {% include 'themes/tranquilpeak/layout/_partial/script.html' %}
    </body>
</html>