{% if is_paginated %}
<div class="pagination-bar">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="pagination-prev">
            {% if page_obj.previous_page_number == 1 %}
                <a class="btn btn--default btn--small" href="<%- url_for(' ') %>">
            {% else %}
                <a class="btn btn--default btn--small" href="<%- url_for(page.prev_link) %>">
            {% endif %}
                <i class="fa fa-angle-left text-base icon-mr"></i>
                    <span><%= __('pagination.newer_posts') %></span>
            </a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="pagination-next">
            <a class="btn btn--default btn--small" href="<%- url_for(page.next_link) %>">
                    <span><%= __('pagination.older_posts') %></span>
                <i class="fa fa-angle-right text-base icon-ml"></i>
            </a>
        </li>
        {% endif %}
        <li class="pagination-number"><%= _p('pagination.page', page.current) + ' ' + _p('pagination.of', page.total) %></li>
    </ul>
</div>
{% endif %}